<h1 class="title">Debs Cards.</h1>
<h2>Hand-crafted cards for all your needs.</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%= image_tag("coffee.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%= image_tag("coffee.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%= image_tag("coffee.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%= image_tag("coffee.jpg", :class => "img-responsive")%>
        </div>
    </div>
</div>
