<h1 class="title">Debs Cards.</h1>
<h2>Hand-crafted cards for all your needs.</h2>

<%= image_tag("http://placehold.it/250x250", :class => "image")%>
<%= image_tag("http://placehold.it/250x250", :class => "image")%>
<%= image_tag("http://placehold.it/250x250", :class => "image")%>
<%= image_tag("http://placehold.it/250x250", :class => "image")%>
