<div class="content">
	<div class="col-lg-4 col-lg-offset-4 col-xs-8 col-xs-offset-2">

	<h2>Log in</h2>

	<form>
		<div class="form-group">
			<div class="field">
				<input autofocus="autofocus" class="form-control" placeholder="Email Address" type="email" value="" name="user[email]" id="user_email" />
			</div>

			<div class="field">
				<input autocomplete="off" class="form-control" placeholder="Password" type="password" name="user[password]" id="user_password" />
			</div>

				<div class="field">
					<input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
					<label for="user_remember_me">Remember me</label>
				</div>

			<div class="actions">
				<input type="submit" name="commit" value="Log in" class="btn btn-primary" data-disable-with="Log in" />
			</div>
		</div>
</form>

	<a href="/users/password/new">Forgot your password?</a>
	<hr width="100%">
	<a class="btn btn-default" href="/users/sign_up">Sign up</a>

</div>

</div>
