// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-resopnsive{
	margin-left: 60px;
	margin-top: 5%;
	align-items: center;
	display: inline-block;
}

.card{
float: right;
display: inline-block;
width: 50%;
}


.show-page{
	.show-imag{
		float: left;
	  width: 50%;
	  height:50%;
	  padding: 10px;
	}
	.rated{
		margin: auto;
		width: 10%;
		padding-bottom: 2%;
		border: 1.5px solid blue;
	}
	p{
		float: right;
		font-size: 2em;
		font-weight: 200;
		width: 40%;
		text-align: left;
	}
	.links{
		clear: both;
		}
}
