// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-resopnsive{
	margin-left: 60px;
	margin-top: 5%;
	align-items: center;
	display: inline-block;
}

.card{
float: right;
display: inline-block;
width: 50%;
}
